Задача: требуется написать библиотеку-генератор последовательностей.

Под последовательностью понимается генерирование следующего номера
согласно некому правилу.
Например: последовательность простых чисел: 1,2,3,4,5... Здесь
последовательность простых чисел образуется прибавлением единицы к
последнему выданному числу. Последовательность может иметь минимальный
и максимальный номер для генерации числер. Например, у
последовательности 1,2,3,.. есть минимальное значение 1. Может быть и
максимальное значение. Допустим максимальное значение в
последовательности 5.

Последовательность также может генерироваться по некоторому шаблону:
Например, [ПРЕФИКС][ГОД][какие-то цифры0..9]. По такому правилу
например могут быть созданы такие значения ABC20170001, ABC20170002,
ABC20170003,...
Последовательность может быть циклической - т.е. ее номера начинают
повторяться через какое-то условие. Например, условием может быть
достижение максимального значения в последовательности. Тогда например
Числовая последовательность простых числел может быть такой:
1,2,3,4,5,1,2,3,4,5,1,2,3... Или условием может быть новый день или
новый год,...

Последовательность должна уметь хранить свое состояние в БД. Можно
создавать много последовательностей для разных шаблонов и правил со
своими настройками...
Также необходимо, чтобы последовательность могла использоваться в
многопользовательской среде. Чтобы не получилось так чтобы 2
пользователям библиотеки достался одинаковый номерок... Для этого
особенно продумайте этот момент.

Использование библиотеки я вижу следующим образом. Например, для
сохраненной некой последовательности всегда можно будет вызвать такой
код:

Sequence s = new Sequence();
if (s.Load("название последовательности")) // инициализация некоторого
генератора последовательности
{
    var str = s.Current(); // получить текущий номер последовательности
    var    next = s.NextValue(); // получить следующий номер последовательности
}

В многопоточной, многопользовательской среде он должен всегда
отрабавываться корректно.

