<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sequenceNaturalNumbers" value="[1..3000]" />
    <add key="sequenceTemplate" value="[Prefix][2022][0..13]" />
    <add key="connectionString" value="Server=.\SQLExpress;Database=Sequences;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;" />
	</appSettings>
</configuration>